/* LINKING RESET */
@import url("./reset\ css");


:root{
  --primary-color:black;
  --secondary-color:white;
  --intermidate-color:grey;
}

*{
    margin: 0%;
    padding: 0%;
}
/* body{
 

} */

header{
  display: flex;
  margin: 0 auto; 
  justify-content:space-evenly;
  gap:100px;
  nav{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    justify-items: flex-end;
  }
}

/* Responsiveness  */
@media screen and (min-width: 120px) {

  header{
    justify-content: space-between;
  }
.off-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  right: -450px;
  top: 0;
  background-color: black;
  transition: 0.3s ease-in;
font-size: 2em;
}

.off-screen.active{
  right: 0;
}

.menu-bar{
  display: flex;
  flex-direction: column-reverse;
}
.menu-bar  .bar{
width: 25px; 
height: 1.9px;
background: blue;
margin: 2px ;
}
}